# Xcode
ios/MobilePhoneProxy.xcodeproj/
ios/MobilePhoneProxy/Info.plist
build/
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store

# Windows / Go
windows/dist/
windows/*.exe

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.cxx/
*.iml
